body{
	background-color:#292929;
	font-family: "verdana", cursive;
	color: white;
	margin:0 auto;
}

.mainHeading{
	background-color: green;
	height: 60px;
	margin-top: 5px;
	padding-top: 10px;
	border-radius: 5px;
	margin:5px;
	font-size: 30px;
}

.myModal{
	display: block; 
	float: right; 
	margin-top:-50px; 
	margin-right: 90px;
	margin-bottom:15px;
	font-size: 17px;
	padding:2px;
	color: black;
	border-radius: 5px; 
	width:165px;
	background-color: white;
	color: black;
	text-align: center;
}

.login-panel{
    margin-left: 25px;
    margin-top:10px;
	height: 40px;
	max-width: 300px;
	color: white;
	border-style: solid none solid none;
	border-image: initial;
	border-width: 1px;
	border-radius: 5px;
	border-color: lightgray;
}

.login-input{
    margin-top: 2px;
    margin-left: 5px;
	color: black;
	height:30px; 
	width:130px; 
}

.login-button{
    margin-top: 2px;
	margin-left: 5px;
    padding-bottom: 5px; 
	border-radius: 7px; 
	height: 30px;
	width: 70px;
}

.avatar{
	width:225px; 
	height: 225px;
	border:solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: yellow; 
	box-shadow: 10px 10px 5px #888888;

	margin-left:10px;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
	border-style:solid;
}

.teammate{
	font-size: 20px;
	margin-left: -8px;
	margin-right: 40px;
	margin-top: -50px;
	background-color: green;
	text-align: left;
}

.pointslabel{
	margin-top:10px;
	margin-left: 10px; 
	font-size:9px;
	float: right;
}

.points{
	font-size: 20px;
	background-color: #ff6262;
	float:right;
}

.question-image{
	width:100%; 
	height: 220px;
	margin-left:10px;
    margin-top:3px;
    margin-right:10px;
    margin-bottom:10px;
	border-style:solid;
	border-color: yellow;
	border-width: 3px;
	border-radius: 8px;
	box-shadow: 10px 10px 5px #888888;
}

 
 .w3-circle{
 	margin-top:10px; 
 	margin-left:15px; 
 	width: 170px; 
 	height: 170px; 
 	background-color: black; 
 	color: white; 
 	border-color: yellow; 
 	border-style: solid; 
 	border-width: 2px;
 	padding-top: 4px; 
 	font-size: 80px; 
 	padding-top:20px;
}


.chat-panel{
	height: 270px;
	border:solid;
	border-width: .5px;
	border-radius: 5px;
	border-color: gray;
	margin-bottom: 30px;
	margin-top: 15px;

}      

.chat-message-list{
	height: 180px;
	width: 60%
	margin-top: 20px;
	border:solid;
	border-width: 3px;
	border-radius: 5px;
	border-color: gray;
	background-color: white;
	overflow-y: auto;
	color: black;
	box-shadow: 7px 7px 5px #888888;
}

.chat-message{
	border:solid;
	border-width: 3px;
	border-radius: 5px;
	border-color: gray;
	background-color: white;
	overflow-y: auto;
	color: black;
	margin-top: 15px; 
	height: 55px;
}   

.chat-input{
	height: 30px; 
	width:60%; 
	margin-top: 5px;
	margin-left: 3px;
}

.chat-send-button{
	height: 30px;
	margin-top: 8px;
	margin-bottom:8px;
	border-width: .5px;
	border-radius: 5px;
	border-color: yellow;
}

.answer{
	font-size:70px;
	/*visibility: hidden;*/
	position:fixed;
	top:150px;
	left:400px;
	z-index: 1000;
	color:white;
	background-color: #292929;
	border-radius: 5px;
	width: 800px;
	text-align: center;
}

